<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
<title>App</title>
</head>
<body ng-app="TodoApp">
<div class="container-fluid">
	<div class="row"><br/></div>
	<div class="row" ng-controller="mainController">
		<div class="col-sm-offset-3 col-sm-5" style="background">
			<form class="form-horizontal">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="currentTask">
					<br>
					<button type="button" class="btn btn-success pull-right" ng-disabled="!currentTask" ng-click="addTask(currentTask)" >Add Task</button>
				</div>
			</form>
		</div>
	</div>
	<div class="well well-lg" ng-controller="tasksController">
	<ul>
		<li ng-repeat="task in tasks track by $index">{{task}}</li>
	</ul>
	</div>
</div>
</body>
</html>